In [5]:
fruits = ["mango",'orange',"cherry"]
for i in fruits:
    print(i,"--->",i[::-1])

mango ---> ognam
orange ---> egnaro
cherry ---> yrrehc

In [8]:
for i in "Prajwal":
    # print(i)
    if i == 'w':
        break
    print(i)

P
r
a
j

In [25]:
a="prajwal"
# print(a[2])
for i in a:
    print(i)
    if i=='a' and a.index(i)!=2:
        break

# for i in a:
    # print()
    # if i == a[2]:
    #     pass
    # print(i)
   
# print(a[-2])

p
r
a
j
w
a
l

In [26]:
a= "prajwal" 
for i in range(len(a)):
    print(a[i])
    if i==5:
        break

p
r
a
j
w
a

In [32]:
name ="mahesh babu"
print(len(name))
for i in range(len(name)):
    print(i,"--->",name[i])
    if i==5:
        break

11
0 ---> m
1 ---> a
2 ---> h
3 ---> e
4 ---> s
5 ---> h

In [36]:
# for i in range(5):
#     print(i)
# else:
#     print("its done")

a={1:'apple',1:"hamster"}
a

{1: 'hamster'}

In [ ]:
a="mahesh babu" 
counter = {} #empty dict
for i in a:
    if i in counter:
        counter[i]+=1
    else:
        counter[i]=1

duplicate=0
for j in counter.values():
    if j>1:
        duplicate+=1
print(counter) #counter save kv pairs
print(duplicate) #save total dup count
for i,j in counter.items():
    if j>1:
        print(i,"===>",j,"times")

{'m': 1, 'a': 2, 'h': 2, 'e': 1, 's': 1, ' ': 1, 'b': 2, 'u': 1}
3
a ===> 2 times
h ===> 2 times
b ===> 2 times


The enumerate function adds a counter to an iterable and returns it in a form of an enumerate object. This object can be used directly in for loops. In this example, the for loop is used with enumerate on a list ['a', 'b', 'c'].

In [41]:
l1 = ["one",'two','three']
for i,j in enumerate(l1):
    print(i,j)

0 one
1 two
2 three